@media screen and (max-width: 576px){
    :root{
        --Nav-Font: calc(1rem + 1.4vw);
        --Frase-Font: calc(1rem + 7vw);
        --Icones-Witdh: 12vw;
    }
    #navbarNav{
        height: auto; 
    }
    #Nav button{
        background-color: var( --Color-Secondary);
    }
    #navbarNav ul{
        width: 100%;
        margin-top: 4vw;
    }
    #navbarNav .nav-link{
        margin: 3vw;
    }
    .Minha-Foto{
        width:var(--Foto-Width);
    }
    .Frase-e-icones h2{
        font-size: var(--Frase-Font);
    }
    .Frase-e-icones ul{
        width: 80%;
        margin: 0 auto;
    }
  
    .Frase-e-icones ul li img{
        width: var(--Icones-Witdh);
    }
}
